<div class="modal fade" id="delete_car" ng-controller="carController" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form>
			<div class="modal-body">	
				<center><h4>Tem certeza que deseja remover esse veículo da lista?</h4></center>
			</div>
			<div class="modal-footer">
				<button  class="btn btn-success" data-dismiss="modal" ng-click="delete()"><span class="glyphicon glyphicon-check"></span></button>
				<button  class="btn btn-danger"  data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
			</div>
			</form>
		</div>
	</div>
</div>